/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

table {
  width: 100%;

  th.mat-sort-header-sorted {
    color: black;
  }

  td span.currency__wrapper {
    display: flex;
    flex-direction: column;
  }
}


$app-primary: mat-palette($mat-deep-purple);
$app-accent:  mat-palette($mat-amber);
h1.mat-h1.primary {
  color: mat-color($app-primary);
}

