<h1 class="mat-h1">Accounts</h1>

<table mat-table matSort
  [dataSource]="dataSource"
  [trackBy]="trackById" class="mat-elevation-z8">

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Account name </th>
    <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
  </ng-container>

  <ng-container matColumnDef="category">
    <th mat-header-cell *matHeaderCellDef> Category </th>
    <td mat-cell *matCellDef="let element"> {{ element.category }} </td>
  </ng-container>

  <ng-container matColumnDef="tags">
    <th mat-header-cell *matHeaderCellDef> Tags </th>
    <td mat-cell *matCellDef="let element"> {{ element.tags }} </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef> Balance </th>
    <td mat-cell *matCellDef="let element">
      <span class="currency__wrapper">
        <span>{{ element.balance | currency : 'BTC ' }}</span>
        <span>{{ element.balanceUSD | currency }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="availableBalance">
    <th mat-header-cell *matHeaderCellDef> Available balance </th>
    <td mat-cell *matCellDef="let element">
      <span class="currency__wrapper">
        <span>{{ element.availableBalance | currency : 'BTC ' }}</span>
        <span>{{ element.availableBalanceUSD | currency }}</span>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onAccountClick(row)" [@highlight]="row.state"></tr>
</table>
