<section class="account__wrapper">
  <h2 clas="mat-h2">{{ account.name }}</h2>
  <span>{{ account.category }}</span>

  <h1 class="mat-h1 primary"><strong>{{ account.balance | currency : 'BTC ' }}</strong>({{ calculateUSDAmount(account.balance) | currency }})</h1>
  <span><strong>{{ account.availableBalance | currency : 'BTC ' }}</strong>({{ calculateUSDAmount(account.availableBalance) | currency }})</span>
</section>

<table mat-table [dataSource]="account.transactions" class="mat-elevation-z8">

  <ng-container matColumnDef="confirmationDate">
    <th mat-header-cell *matHeaderCellDef> Confirmed date </th>
    <td mat-cell *matCellDef="let element"> {{ element.confirmationDate | date }} </td>
  </ng-container>

  <ng-container matColumnDef="orderId">
    <th mat-header-cell *matHeaderCellDef> Order ID </th>
    <td mat-cell *matCellDef="let element"> {{ element.orderId }} </td>
  </ng-container>

  <ng-container matColumnDef="orderCode">
    <th mat-header-cell *matHeaderCellDef> Order code </th>
    <td mat-cell *matCellDef="let element"> {{ element.orderCode }} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef> Transaction type </th>
    <td mat-cell *matCellDef="let element"> {{ element.type }} </td>
  </ng-container>

  <ng-container matColumnDef="debit">
    <th mat-header-cell *matHeaderCellDef> Debit </th>
    <td mat-cell *matCellDef="let element">
      <span class="currency__wrapper">
        <span>{{ element.debit | currency : 'BTC ' : 'code': '1.6-10' }}</span>
        <span>{{ calculateUSDAmount(element.debit)| currency }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="credit">
    <th mat-header-cell *matHeaderCellDef> Credit </th>
    <td mat-cell *matCellDef="let element">
      <span class="currency__wrapper">
        <span>{{ element.credit | currency : 'BTC ' : 'code': '1.6-10' }}</span>
        <span>{{ calculateUSDAmount(element.credit) | currency }}</span>
      </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="balance">
    <th mat-header-cell *matHeaderCellDef> Balance </th>
    <td mat-cell *matCellDef="let element">
      <span class="currency__wrapper">
        <span>{{ element.balance | currency : 'BTC ' : 'code': '1.6-10' }}</span>
        <span>{{ calculateUSDAmount(element.balance) | currency }}</span>
      </span>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

